In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
# from tensorflow import keras

In [2]:
df = pd.read_excel('./data.xlsx')
df = df.rename(columns={'Conclusion': 'y'})
print(df.shape)
df.head()

(899, 430)

,Company,TSE_FY,RE_FY,y,Custom-Return,PtoB,PtoS,PtoFCFF,PtoE_ttm,PtoFCFE,...,OP_FY,TA_MRQ,TA_FY,TL_MRQ,TL_FY,TSE_MRQ,RE_MRQ,FE_TTM,FE_MRQ,FE_FY
0,بانک دی,437169000000,-134821018000000,308.395650,-0.046138,-,-,-,-,-,...,-,578157757000000,570956502000000,620578846000000,570519333000000,-42421089000000,-173183986000000,7986821000000,4155223000000,1144012000000
1,بانک آینده,-1125286095000000,-1142159281000000,1.014995,-,-,-,48.5539,-,27.0587,...,-,3158876068000000,3158876068000000,4284162163000000,4284162163000000,-1125286095000000,-1142159281000000,80437985000000,35221799000000,80437985000000
2,سرمایه گذاری تامین اجتماعی,1995942460000000,253693287000000,0.127105,0.604888,1.1937,9.4587,-,10.2428,-,...,221920790000000,1895280934000000,2053317135000000,123150684000000,57374675000000,1772130250000000,24375426000000,16527967000000,8066030000000,11197821000000
3,س. توسعه و عمران استان کرمان,45731823000000,2767290000000,0.060511,0.638978,1.3568,265.4196,-,471.9549,-,...,196787000000,45918437000000,46227274000000,591139000000,495451000000,45327298000000,2369800000000,-,-,-
4,پارس خودرو,-47398426000000,-161033857000000,3.397452,0.306068,-,0.869,-,-,-,...,-73466019000000,137176467000000,137176467000000,184574893000000,184574893000000,-47398426000000,-161033857000000,4607902000000,1666914000000,4607902000000

In [3]:
# drop rows which has no value in TSE_FY or RE_FY column
df = df.dropna(subset=['TSE_FY', 'RE_FY'])
print(df.shape)

(899, 430)

In [6]:
print(df[df['y'] >= .5].shape)
print(df[df['y'] < .5].shape)

(390, 430)
(430, 430)